body{
    background-color: #242B2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .watch{
            font-size: 50px;
            margin: 30px;
        }
        #reset{
            background-color: blue;
        }

        #start{
            background-color: green;
        }

        #stop{
            background-color: red;

        }
    }
    button{
        cursor: pointer;
        margin: 10px;
        padding: 10px 40px;
        border-radius: 10px;
        font-weight: 500;
        font-size: 20px;
        color: #fff;
        border: none;
    }
}